<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic Survivors</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
    <h1>Titanic Survivors</h1>
    <p>Change the dropdown below to update the plots</p>
    <select id="selDataset">
        <option value="Survived">Survived</option>
        <option value="Died">Died</option>
    </select>

    <div id="plot"></div>

    <h4>Data Sources:</h4>
        <ul>
            <li>
                <p>Titanic Database: To Do</p>
            </li>
            <li>
                <p>1</p>
            </li>
        </ul>

    <h4>Source Code:</h4>
    <p>https://github.com/paloblanco/flask-demo-fullstack</p>

    <h4>Contact:</h4>
    <p>Rocco Panella: https://github.com/paloblanco</p>

    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
</body>
</html>
